:root {
  color-scheme: light;
  --color-background: #ffffff;
  --color-foreground: #121212;
  --color-card: #fdfdfd;
  --color-card-foreground: #121212;
  --color-primary: #0082d9;
  --color-primary-foreground: #ffffff;
  --color-secondary: #dfe6eb;
  --color-secondary-foreground: #121212;
  --color-muted: #ecf3f8;
  --color-muted-foreground: #646a6e;
  --color-accent: #a8dfff;
  --color-accent-foreground: #001d33;
  --color-destructive: #e7000b;
  --color-destructive-foreground: #ffffff;
  --color-border: #dfe6eb;
  --color-input: #dfe6eb;
  --color-ring: #0082d9;
  --color-chart-1: #0082d9;
  --color-chart-2: #9088f0;
  --color-chart-3: #14bbc2;
  --color-chart-4: #007329;
  --color-chart-5: #c35dd9;
  --color-sidebar: #ffffff;
  --color-sidebar-foreground: #121212;
  --color-sidebar-primary: #0082d9;
  --color-sidebar-primary-foreground: #ffffff;
  --color-sidebar-accent: #ecf3f8;
  --color-sidebar-accent-foreground: #121212;
  --color-sidebar-border: #e6ecf1;
  --color-sidebar-ring: #0082d9;
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --color-background: #030609;
  --color-foreground: #f8f8f8;
  --color-card: #080c0f;
  --color-card-foreground: #f8f8f8;
  --color-primary: #0098fb;
  --color-primary-foreground: #ffffff;
  --color-secondary: #121c23;
  --color-secondary-foreground: #f8f8f8;
  --color-muted: #0e171e;
  --color-muted-foreground: #85919a;
  --color-accent: #0e2c3f;
  --color-accent-foreground: #f8f8f8;
  --color-destructive: #cc0000;
  --color-destructive-foreground: #ffffff;
  --color-border: #121c23;
  --color-input: #121c23;
  --color-ring: #0098fb;
  --color-chart-1: #0098fb;
  --color-chart-2: #9088f0;
  --color-chart-3: #14bbc2;
  --color-chart-4: #05893e;
  --color-chart-5: #d36dea;
  --color-sidebar: #020405;
  --color-sidebar-foreground: #f8f8f8;
  --color-sidebar-primary: #0098fb;
  --color-sidebar-primary-foreground: #ffffff;
  --color-sidebar-accent: #0e171e;
  --color-sidebar-accent-foreground: #f8f8f8;
  --color-sidebar-border: #09131a;
  --color-sidebar-ring: #0098fb;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

a {
  color: inherit;
  text-decoration: none;
}
